.app-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

label {
  margin-bottom: 5px;
  display: block;
}

a {
  color: #2196f3;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
}

a:hover {
  color: #0d47a1;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

button,
a {
  margin-top: 10px;
}

.cancel-button {
  background-color: whitesmoke;
  color: red;
  margin-left: 10px;
}

.cancel-button:hover {
  color: darkred;
}